exportPattern("StLM","StAR","StDLM","StVAR")
importFrom("ADGofTest",ad.test)
importFrom("stats",embed)
importFrom("numDeriv",jacobian)
importFrom("MCMCpack",vech,xpnd)
importFrom("matlab",ones)
importFrom("stats", "fitted", "optim", "pt", "runif")
importFrom("tseries",get.hist.quote)
importFrom("utils","tail")
